.prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.left{
    animation: left alternate linear 0.5s infinite;
}
.right{
    animation: right alternate linear 0.5s infinite;
}   
@keyframes left {
    to {
        transform: translateX(-5px);
    }
}
@keyframes right {
    to {
        transform: translateX(5px);
    }
}