/* إخفاء مربع الاختيار الأصلي */
.custom-checkbox input[type="checkbox"] {
    display: none;
  }
  .custom-checkbox{
    cursor: pointer;
  }
  /* تصميم العنصر checkmark */
  .custom-checkbox .checkmark {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #eee;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* عند التحقق من checkbox */
  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #115573;
  }
  
  /* لإضافة مسافة بين علامة checkbox والنص */
  .custom-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
