@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.or{
    position: relative;
}
.or::before{
    content: "";
    position: absolute;
    width: 35% ;
    height: 1px;
    background-color: #716e6e66;
    left: 0;
    top: 50%;

}
.or::after{
    content: "";
    position: absolute;
    width: 35% ;
    height: 1px;
    background-color: #716e6e66;
    right: 0;
    top: 50%;

}
.ic{
    position: absolute;
    content: "";
    top: 57%;
    left: 10px;
    font-size: 20px;
    color: gray;
}